
@{
    ViewData["Title"] = "Card";
}

<main>
    <div class="container">
        <div class="row mt-5">
            <div class="all-products">
                <div class="product d-flex">
                    <p style="margin-left: 140px;">Product</p>
                    <p style="margin-left: 300px;">Price</p>
                    <p style="margin-left: 50px;">Quantity</p>
                    <p style="margin-left: 50px;">Subtotal</p>
                </div>
                <div class="product2 d-flex">
                    <img src="./assets/img/product-image-7-346x310.jpg" alt="">
                    <p style="margin-left: 60px; margin-top: 20px;">USDA Choice Angus Beef Stew Meat</p>
                    <p style="margin-left: 100px; margin-top: 20px;">$49.99</p>
                    <p style="margin-left: 50px;"><h6 style="margin-top: 20px;">-  1  +</h6></p>
                    <p style="margin-left: 50px; margin-top: 20px;">$49.99</p>
                    <i style="margin-top: 20px; margin-left: 30px;" class="fas fa-times"></i>
                </div>
                <div class="input d-flex">
                    <input style="width: 200px;" class="form-control" type="text">
                    <button style="margin-left: 10px; background-color: rgb(2,3,129);" class="btn btn-primary">Apply cupon</button>
                    <button style="margin-left: 345px;">Update card</button>
                </div>

            </div>

            <div class="cupon">
                <div class="cupon1">
                    <h6>CART TOTALS</h6>
                    <div class="cupon-all d-flex">
                        <ul class="one">
                            <li>
                                Subtotal
                            </li>
                            <li>

                            </li>
                            <br>
                            <br>
                            <br>
                            <li>
                                Shipping
                            </li>
                            <br>
                            <br>
                            <br>
                            <li>
                                Total
                            </li>
                        </ul>
                        <ul class="two">
                            <li>
                                $53.99
                            </li>
                            <li>
                                Flat rate:$5.00 <input type="checkbox">
                                Free Shipping <input type="checkbox">
                                Local Pickup <input type="checkbox">
                            </li>
                            <li>
                                Shippin to <b>Al</b>
                            </li>
                            <li>
                                <a href="">Change address</a>
                            </li>
                            <br>
                            <br>
                            <li>
                                $53.99
                            </li>
                        </ul>

                    </div>

                    <button style="background-color: red; margin-top: 30px;" class="btn btn-primary">Proceed to checkout</button>
                </div>
            </div>



        </div>

    </div>
</main>

