
@{
    ViewData["Title"] = "Contact";
}

<main>
    <section id="contac">
        <div class="container">
            <div class="row">
                <div class="touch">
                    <h1>Get in Touch</h1>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt architecto id at esse
                        porro facere dignissimos
                    </p>
                </div>
                <div class="info d-flex">
                    <div class="col-4 center">

                        <div class="tosend">
                            <i class="fas fa-map-marker-alt"></i>
                            <h3>102 Street 2714 Donovan</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="col-4 center">

                        <div class="tosend">
                            <i class="fas fa-phone-alt"></i>
                            <h3>+02 1234 567 88</h3>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>

                    </div>
                    <div class="col-4 center">

                        <div class="tosend">
                            <i class="fas fa-envelope"></i>
                            <h3>info@example.com</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="sent-us">
                    <h1>Send Us</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati praesentium provident
                        facilis vero reprehenderit reiciendis, ab voluptas eligendi adipisci repudiandae totam culpa
                    </p>
                </div>
                <div class="logins d-flex">
                    <div class="ones">
                        <label for="">Your name*</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="twos">
                        <label for="">Your name*</label>
                        <input class="form-control" type="text">
                    </div>


                </div>
                <div class="subject mt-3">
                    <label for="">Subjects*</label>
                    <input class="form-control" type="text">
                    <label for="">Your message</label><br><br>
                    <input class="form-control message" type="text"><br>

                    <button class="btn btn-primary">Send Message</button>
                </div>


            </div>
        </div>
    </section>
</main>

