
@{
    ViewData["Title"] = "Blog";
}

<main>
    <section id="reklam">
        <div class="container">

            <div class="row d-flex">
                <div class="col-8">
                    <div class="image">
                        <img src="~/assets/img/blog-3.jpg" alt="">
                    </div>

                </div>
                <div class="col-4">
                    <div class="post">
                        <input class="form-control" type="text" placeholder="Search..">
                        <i class="fas fa-search"></i>

                        <h5 style="margin-top: 100px;">Popular posts</h5>
                        <div class="post1">
                            <div class="images d-flex">
                                <img src="~/assets/img/blog-3-100x100.jpg" alt="">

                                <span>But I must explain to you how all this mistaken idea</span>
                            </div>
                            <div class="images d-flex">
                                <img style="margin-top: 150px;" src="~/assets/img/blog-5-100x100.jpg" alt="">

                                <span style="margin-top: 150px;">The Problem With Typefaces on the Web</span>
                            </div>
                            <div class="images d-flex">
                                <img style="margin-top: 300px;" src="~/assets/img/blog-1-100x100.jpg" alt="">

                                <span style="margin-top: 300px;">
                                    English Breakfast Tea With Tasty Donut
                                    Desserts
                                </span>
                            </div>
                        </div>



                    </div>
                </div>
            </div>


            <div class="row mt-5">
                <div class="col-8">
                    <div class="read">
                        <i style="margin-top: 50px; color: aqua;" class="fas fa-calendar-alt"></i> May 3, 2021 <i style="color: aqua;" class="fab fa-black-tie"></i> Tips &
                        Tricks <i style="color: aqua;" class="fas fa-utensils"></i> Food,Store,Themeforest
                        <h1>The Problem With Typefaces on the Web</h1>
                        <p>
                            Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit, sodales
                            elementum enim sem sed lectus. Vivamus viverra diam congue tristique pellentesque. Proin
                            efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at justo lobortis,
                            vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id
                            efficitur ultrices, sapien mauris sodales
                        </p>

                        <a style="margin-top: 10px; background-color: blue; border-radius: 30px;" href="#"
                           class="btn btn-primary">Read More</a>

                        <img style="width: 720px; margin-top: 20px;" src="~/assets/img/blog-5.jpg" alt="">


                        <i style="margin-top: 50px; color: aqua;" class="fas fa-calendar-alt"></i> May 3, 2021 <i style="color: aqua;" class="fab fa-black-tie"></i> Tips &
                        Tricks <i style="color: aqua;" class="fas fa-utensils"></i> Food,Store,Themeforest
                        <h1>The Problem With Typefaces on the Web</h1>
                        <p>
                            Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit, sodales
                            elementum enim sem sed lectus. Vivamus viverra diam congue tristique pellentesque. Proin
                            efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at justo lobortis,
                            vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id
                            efficitur ultrices, sapien mauris sodales
                        </p>

                        <a style="margin-top: 10px; background-color: blue; border-radius: 30px;" href="#"
                           class="btn btn-primary">Read More</a>

                        <img style="width: 720px; margin-top: 30px;" src="~/assets/img/blog-1.jpg" alt="">

                        <i style="margin-top: 50px; color: aqua;" class="fas fa-calendar-alt"></i> May 3, 2021 <i style="color: aqua;" class="fab fa-black-tie"></i> Tips &
                        Tricks <i style="color: aqua;" class="fas fa-utensils"></i> Food,Store,Themeforest
                        <h1>The Problem With Typefaces on the Web</h1>
                        <p>
                            Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit, sodales
                            elementum enim sem sed lectus. Vivamus viverra diam congue tristique pellentesque. Proin
                            efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at justo lobortis,
                            vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id
                            efficitur ultrices, sapien mauris sodales
                        </p>

                        <a style="margin-top: 10px; background-color: blue; border-radius: 30px;" href="#"
                           class="btn btn-primary">Read More</a>


                        <h5 style="background-color: aqua; width: 40px; text-align: center; border-radius: 20px; margin-left: 350px; margin-top: 100px;">1</h5>
                        <h5 style="margin-left: 400px; margin-top: -32px;">2</h5>
                    </div>
                </div>
                <div class="col-4">
                    <div class="sosial">

                        <h5>Sosial Media</h5>

                        <i style="background-color: blue;  color: white; width: 250px;height: 40px; padding: 5px;" class="fab fa-facebook">   Facebook</i><br>
                        <i style="background-color: aqua; color: white; width: 250px;height: 40px; padding: 5px;" class="fab fa-twitter">   Twitter</i><br>
                        <i style="background-color: red; color: white; width: 250px;height: 40px; padding: 5px;" class="fab fa-pinterest">    Pinterest</i><br>
                        <i style="background-color: blue; color: white; width: 250px;height: 40px; padding: 5px;" class="fab fa-linkedin">    Linkedin</i><br>
                        <i style="background-color: orange; color: white; width: 250px;height: 40px; padding: 5px;" class="fab fa-reddit">     Reddit</i><br>
                    </div>


                    <div class="finish">
                        <h6>WIDGET BANNER</h6>
                        <img src="~/assets/img/sidebar-banner.gif" alt="">


                        <h5 style="margin-top: 20px;">TAGS</h5>
                        <div class="tag">
                            <a href=""><span>envota</span></a>
                            <a href=""><span>food</span></a>
                            <a href=""><span>fresh</span></a>

                        </div>
                        <div class="tag mt-3">
                            <a href=""><span>grocery</span></a>
                            <a href=""><span>organic</span></a>
                            <a href=""> <span>quality</span></a>

                        </div>

                        <div class="tag mt-3">
                            <a href=""><span>store</span></a>
                            <a href=""><span>themeforest</span></a>

                        </div>

                    </div>

                </div>
            </div>
            <!-- <div class="row mt-5 d-flex">
                <div class="image">
                    <img src="~/assets/img/blog-3.jpg" alt="">
                </div>
                <div class="post">
                    <input class="form-control" type="text" placeholder="Search..">
                    <i class="fas fa-search"></i>

                    <h5 style="margin-top: 100px;">Popular posts</h5>

                    <div class="images">
                        <img src="~/assets/img/blog-3-100x100.jpg" alt="">
                        <h6>1</h6>
                        <span>But I must explain  to you how all this mistaken idea</span>
                    </div>
                </div> -->


        </div>
        </div>
    </section>
</main>

