
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="login-all d-flex">
                    <div class="login">
                        <h5>Login</h5>
                        <label for="">Username or email address *</label><br>
                        <input class="form-control" type="text"><br>
                        <label for="">Password *</label><br>
                        <input class="form-control" type="text"><br>
                        <input style="cursor: pointer;" type="checkbox">Remember me <br><br>

                        <input class="submit" type="submit" value="Log In"><br><br>
                        <a href="">Lost your password</a>
                    </div>
                    <div class="register">
                        <h5>Register</h5>
                        <label for="">Email address *</label><br>
                        <input class="form-control" type="text"><br>
                        <label for="">Password *</label><br>
                        <input class="form-control" type="text"><br>

                        <p>
                            Your personal data will be used to support your experience throughout this website, to
                            manage access to your account, and for other purposes described in our <a style="color: red;"
                                                                                                      href="">privacy policy.</a>
                        </p>

                        <input class="submit" type="submit" value="Register"><br><br>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
