
@{
    ViewData["Title"] = "About";
}


<main>
    <section id="image">
        <img src="~/assets/img/about-header.jpg" alt="">
        <div class="center">
            <h1 style="color: white; font-size: 70px;">About for Bacola</h1>
            <p style="color: white; text-align: center;"> WE CAN DO MORE FOR YOU</p>
        </div>


        <div class="container">
            <div class="row">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit iusto accusantium, reprehenderit
                    tempore aut harum necessitatibus quas, nostrum vero similique qui rem enim, optio rerum
                    perferendis nam tenetur omnis esse! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Consectetur magni quia voluptatum. Explicabo modi hic alias cumque quo eligendi, illo
                    consectetur, voluptatibus, fugit magnam adipisci laudantium. Laudantium repudiandae perferendis
                    doloremque.
                </p>

                <h1>
                    Quisque erat urna, congue et libero in
                    eleifend euismod velit.
                </h1>

                <p class="between">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit iusto accusantium,
                    reprehenderit
                    tempore aut harum necessitatibus quas, nostrum vero similique qui rem enim, optio rerum
                    perferendis nam tenetur omnis esse! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Consectetur magni quia voluptatum. Explicabo modi hic alias cumque quo eligendi, illo
                    consectetur, voluptatibus, fugit magnam adipisci laudantium. Laudantium repudiandae perferendis
                    doloremque.
                </p>

                <div class="image-write d-flex">
                    <img src="~/assets/img/about-people.jpg" alt="">

                    <div class="ceos">
                        <p class="up">Rachel Leonard - Bacola CEO</p>

                        <h1>Duis convallis luctus pretium. Pellentesque habitant morbi</h1>

                        <p class="down">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis.

                            In fermentum mi ut sapien semper, a sagittis lorem vulputate. Integer gravida, dui eget
                            aliquet tempus, turpis orci vehicula ipsum, eget porttitor sapien tortor at neque. Cras
                            id
                            pulvinar lacus, ac volutpat neque. Ut at magna id justo bibendum lobortis. Integer
                            tortor
                            nulla, ultricies et nisi sit amet, interdum dictum felis. In semper laoreet dui vitae
                            pharetra. Etiam sit amet molestie nulla, eu efficitur orci. Praesent rutrum ante justo,
                            eget
                            .
                        </p>
                    </div>

                </div>

            </div>
        </div>

    </section>

    <section id="finish">
        <div class="container">
            <div class="row">

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam optio architecto nostrum
                perspiciatis ex voluptatibus, corporis, nisi alias mollitia magnam dignissimos. Consequuntur
                quas consequatur numquam, maiores cupiditate mollitia dolores ad. Lorem ipsum dolor, sit amet
                consectetur adipisicing elit. Illo accusamus ab cum. Aliquid illum nemo, dicta, quas minus

                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error ipsum nulla assumenda tempore,
                    blanditiis doloribus, dolor veniam incidunt ab, iste est quod voluptatibus quia molestiae
                    aliquam animi pariatur quas consequatur Lorem ipsum dolor sit, amet consectetur adipisicing
                    elit. Molestiae quam rem tempore iste magnam libero quaerat, sit fuga, ex sed culpa magni eius
                    vel quibusdam. A, facilis libero. Nihil, excepturi..
                </p>
            </div>
        </div>
    </section>
</main>

