
@{
    ViewData["Title"] = "Shop";
}

<main>
    <div class="container">
        <div class="row mt-5 d-flex">
            <div class="col-3">
                <div class="enter">
                    <a style="color: black;" href="./home.html">Home</a>
                    <i class="fas fa-angle-right"></i>
                    <a style="color: black;" href="./shop.html">Shop</a>
                </div>
                <div class="all d-flex">
                    <div class="category mt-3">
                        <h6 style="width: 200px; margin-left: 20px;">PRODUCT CATEGORIES</h6><br>
                        <input class="inputs" type="checkbox">Beverages <br>
                        <input class="inputs" type="checkbox">Biscuits & Snacks <br>
                        <input class="inputs" type="checkbox">Breads & Bakery <br>
                        <input class="inputs" type="checkbox">Breakfast & Dairy <br>
                        <input class="inputs" type="checkbox">Frozen Foods <br>
                        <input class="inputs" type="checkbox">Fruits & Vegetables <br>
                        <input class="inputs" type="checkbox">Grocery & Staples <br>
                        <input class="inputs" type="checkbox">Household Needs <br>
                        <input class="inputs" type="checkbox">Meats & Seafood <br>
                    </div>

                    <div class="ulss" style="margin-top: 67px;margin-left: 20px;">
                        <ul style="list-style: none;">
                            <li>
                                +
                            </li>
                            <li>
                                +
                            </li>
                            <li>
                                +
                            </li>
                            <li>
                                +
                            </li>
                            <li>
                                +
                            </li>
                            <li>
                                +
                            </li>
                            <li>
                                +
                            </li>
                            <li>
                                +
                            </li>
                            <li>
                                +
                            </li>
                        </ul>
                    </div>
                </div>



            </div>
            <div class="col-9">
                <img style="width: 800px; height:260px; margin-top: 40px;" src="~/assets/img/bacola-banner-18.jpg" alt="">

                <div class="line d-flex mt-5">
                    <i style="padding: 10px;" class="fas fa-align-justify"></i>
                    <i style="padding: 10px;" class="fas fa-align-justify"></i>
                    <i style="padding: 10px;" class="fas fa-align-justify"></i>
                    <i style="padding: 10px;" class="fas fa-align-justify"></i>

                    <p style="margin-left: 450px;">Short by latest</p>
                    <p style="margin-left: 30px;">Show 12</p>
                </div>

            </div>


        </div>

        <section id="shopping">
            <div class="container">
                <div class="row">

                    <div class="col-3">
                        <div class="product">
                            <h6>PRODUCT STATUS</h6>
                            <input type="checkbox"> In Stock <br>
                            <input type="checkbox"> On Sale <br><br><br>





                        </div>
                        <div class="products d-flex">
                            <div class="brands">
                                <h6>Brands</h6>
                                <input type="checkbox"> Frito  Lay <br>
                                <input type="checkbox"> On Sale <br>
                                <input type="checkbox"> Frito  Lay <br>
                                <input type="checkbox"> On Sale <br>
                                <input type="checkbox"> Frito  Lay <br>

                            </div>

                            <div class="ulss">
                                <ul style="list-style: none; margin-top: 25px; margin-left: 140px;">
                                    <li>
                                        (6)
                                    </li>
                                    <li>
                                        (10)
                                    </li>
                                    <li>
                                        (6)
                                    </li>
                                    <li>
                                        (8)
                                    </li>
                                    <li>
                                        (7)
                                    </li>

                                </ul>

                            </div>


                        </div>
                        <img style="width: 240px; margin-top: 50px;" src="~/assets/img/sidebar-banner (1).gif" alt="">




                    </div>

                    <div class="col-9">
                        <div class="shopp d-flex">
                            <div class="card" style="width: 15rem; height: 400px;">
                                <img src="~/assets/img/product-image-62.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">All Natural Italian-Style Chicken Meatballs</h5>
                                    <p style="color: green; font-size: 13px;">IN STOCK</p>
                                    <div class="icons">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>1 <BR></BR>

                                        <span style="text-decoration: line-through; color: gray;">$9.35</span>  <span>$7.33</span>
                                    </div>
                                    <i class="fab fa-gratipay hearts"></i>
                                    <i class="fas fa-expand-arrows-alt exson"></i>
                                    <a href="#" class="btn btn-primary">Add to card</a>
                                </div>
                            </div>

                            <div class="card" style="width: 15rem; height: 400px;">
                                <img src="~/assets/img/product-image-60-346x310.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">All Natural Italian-Style Chicken Meatballs</h5>
                                    <p style="color: green; font-size: 13px;">IN STOCK</p>
                                    <div class="icons">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>1 <BR></BR>

                                        <span style="text-decoration: line-through; color: gray;">$9.35</span>  <span>$7.33</span>
                                    </div>
                                    <i class="fab fa-gratipay hearts"></i>
                                    <i class="fas fa-expand-arrows-alt exson"></i>
                                    <a href="#" class="btn btn-primary">Add to card</a>
                                </div>
                            </div>

                            <div class="card" style="width: 15rem; height: 400px;">
                                <img src="~/assets/img/product-image-46-346x310.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">All Natural Italian-Style Chicken Meatballs</h5>
                                    <p style="color: green; font-size: 13px;">IN STOCK</p>
                                    <div class="icons">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>1 <BR></BR>

                                        <span style="text-decoration: line-through; color: gray;">$9.35</span>  <span>$7.33</span>
                                    </div>
                                    <i class="fab fa-gratipay hearts"></i>
                                    <i class="fas fa-expand-arrows-alt exson"></i>
                                    <a href="#" class="btn btn-primary">Add to card</a>
                                </div>
                            </div>

                        </div>
                        <div class="shopp d-flex">
                            <div class="card" style="width: 15rem; height: 400px;">
                                <img src="~/assets/img/product-image-58-346x310.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">All Natural Italian-Style Chicken Meatballs</h5>
                                    <p style="color: green; font-size: 13px;">IN STOCK</p>
                                    <div class="icons">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>1 <BR></BR>

                                        <span style="text-decoration: line-through; color: gray;">$9.35</span>  <span>$7.33</span>
                                    </div>
                                    <i class="fab fa-gratipay hearts"></i>
                                    <i class="fas fa-expand-arrows-alt exson"></i>
                                    <a href="#" class="btn btn-primary">Add to card</a>
                                </div>
                            </div>

                            <div class="card" style="width: 15rem; height: 400px;">
                                <img src="~/assets/img/2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">All Natural Italian-Style Chicken Meatballs</h5>
                                    <p style="color: green; font-size: 13px;">IN STOCK</p>
                                    <div class="icons">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>1 <BR></BR>

                                        <span style="text-decoration: line-through; color: gray;">$9.35</span>  <span>$7.33</span>
                                    </div>
                                    <i class="fab fa-gratipay hearts"></i>
                                    <i class="fas fa-expand-arrows-alt exson"></i>
                                    <a href="#" class="btn btn-primary">Add to card</a>
                                </div>
                            </div>

                            <div class="card" style="width: 15rem; height: 400px;">
                                <img src="~/assets/img/product-image-50.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">All Natural Italian-Style Chicken Meatballs</h5>
                                    <p style="color: green; font-size: 13px;">IN STOCK</p>
                                    <div class="icons">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>1 <BR></BR>

                                        <span style="text-decoration: line-through; color: gray;">$9.35</span>  <span>$7.33</span>
                                    </div>
                                    <i class="fab fa-gratipay hearts"></i>
                                    <i class="fas fa-expand-arrows-alt exson"></i>
                                    <a href="#" class="btn btn-primary">Add to card</a>
                                </div>
                            </div>

                        </div>

                        <h5 style="background-color: aqua; width: 40px; text-align: center; border-radius: 20px; margin-left: 350px; margin-top: 100px;">1</h5>
                        <h5 style="margin-left: 400px; margin-top: -32px;">2     3   4    5    6   <i class="fas fa-long-arrow-alt-right"></i></h5>



                    </div>






                </div>
            </div>

        </section>






    </div>
</main>

